<div class="search">
  <h1>You know you're in <span><%= @cityQuery %></span> when...</h1>
  <p>...you experience its distinct landmarks, cuisine and skyline.</p>
  <p>Search FOTOSCAPE for your favorite city or discover somewhere new!</p>

  <div class="citySearch">

    <%= form_tag pictures_citysearch_path do %>
    <%=text_field_tag 'cityname'%>

    <%= select_tag "category", options_for_select([ "Landmarks", "Skyline", "Food", "Neighborhoods", "Sports" ]),({:class => 'citysearch btn'}) %>

    <div><%= submit_tag 'Search',({:class => 'citysearch btn'}) %></div>
    <% end %>

  </div>
</div>

</div>

<div class="container">



  <div class="city-pics">
    <% @flickrsearch.sample(12).each do |f| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= link_to f, rel: "shadowbox[pic]", class: 'pic' do %>
      <%= image_tag f %>
      <% end %>
    </div>
    <% end %>


    <!-- User submitted pics -->
    <% @pictures.each do |picture| %>
    <a class="col-md-4 col-sm-6 col-xs-12" href="/pictures/<%= picture.id %>">
      <%= image_tag picture.pic_img.url(:pic_index), class: "book" %>
    </a>
    <% end %>

  </div>
</div>


<div class="todo">
  <div class="container">
    <h2>Top Attractions</h2>

    <div class="attractions">

      <p>
        <%= @venue_one %><br>
        <img src ="<%= @image_one %>">
      </p>

      <p>
        <%= @venue_two %><br>
        <img src ="<%= @image_two %>">
      </p>

    </div>
  </div>

</div>
