<div class="container show">

<div class="row">

	<div class="col-md-4">

		<span class="city-pics"> <%= image_tag @picture.pic_img.url(:pic_show), class: "picture-show" %></span>

	</div>

	<div class="col-md-8">

		<div class="book-info">

			<h2 class="book-title"><%= @picture.title %></h2>
			<p class="book-desc"><%= @picture.url %></p>
			<span class="number-of-reviews"><%= @picture.comments.count %> comments</span>
			<h1>Comments</h1>
			<%= render @picture.comments %>

		</div>
	</div>


</div>

<div class="links btn-group">

	<%= link_to "Back", root_path, class: "btn btn-custom" %>

	<% if user_signed_in? %>

		<% if @picture.user_id == current_user.id %>

			<%= link_to "Edit", edit_picture_path(@picture), class: "btn btn-custom" %>
			<%= link_to "Delete", picture_path(@picture), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>

		<% end %>

	<% end %>

  <%= link_to "Add Comment", new_picture_comment_path(@picture), class: "btn-custom btn primary" %>

</div>
</div>

</div>
