<h1 class="current-location"><%= params[:location] %></h1>

<% if @pictures.count == 0 %>
<h1>This Place Is Too Boring</h1>
<% else %>
<div class="row">

  <% @pictures.each do |picture| %>

  <div class="col-md-3">
    <a href="/pictures/<%= picture.id %>">
      <%= image_tag picture.pic_img.url(:pic_index), class: "book" %>
    </a>
  </div>

  <% end %>


	</div>
	<% end %>
<!-- dslvnlnfdlkndvs -->
</div>

<div class="city-pics">
  <% @flickrsearch.sample(10).each do |f| %>
  <%= image_tag f %>
  <% end %>
</div>

<!-- <%= @flickrpics %> -->

<!-- <img src="<%= @firstRecent %>"> -->

<h3>Things To Do</h3>

<div class="attractions">

  <p>
    <%= @venue_one %><br>
    <img src ="<%= @image_one %>"
  </p>

  <p>
    <%= @venue_two %><br>
    <img src ="<%= @image_two %>"
  </p>

</div>
