<!DOCTYPE html>
<html>
<head>
  <title>FOTOSCAPE</title>

  <!-- Compiled and minified Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Compiled and minified Font Awesome-->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!--Import Google Icon Font(Monoton)-->
  <link href="https://fonts.googleapis.com/css?family=Monoton|Raleway|Abril+Fatface" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">

    <div class="container">

      <div class="navbar-header">
        <%= link_to "FOTOSCAPE", root_path, class: "navbar-brand" %>
      </div>

      <div class="nav navbar-nav navbar-right">
        <ul>
          <div class="btn-group">
            <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path, { :class=>"btn primary" } %></li>
            <li><%= link_to "Log In", new_user_session_path, { :class=>"btn secondary" } %></li>
            <% end %>
          </ul>

          <ul>
            <% if user_signed_in? %>
            <li><%= link_to "Upload", new_picture_path, { :class=>"btn primary" } %></li>
            <% end %>
          </ul>
        </div>

      </div>

    </div>

  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>




  <%= yield %>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>
</html>
